.what-we-look-for {
  .wwlf-banner {
    padding-top: 164px;
    padding-bottom: 134px;

    .container {

      h2 {
        color: #FFFFFF;
      }

      p {
        margin-top: 29px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;

        color: #FFFFFF;
        max-width: 610px;
      }
    }
  }
  .wwlf-content {
    margin-top: 100px;

    .container {
      .focus-frame {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-top: 40px;
      }
      .FAQ-frame {
        width: 952px;
        margin: 191px auto 480px auto;

        .FAQ-items {
          display: flex;
          flex-direction: column;
          gap: 4px;
          margin-top: 30px;
        }
      }
    }
  }
}


@media screen and (max-width: 2000px) {
  .what-we-look-for {
    .bg-image {
      width: auto;
      height: 550px;
    }
  }
}
@media screen and (max-width: 1500px) {
  .what-we-look-for {
    .wwlf-content {
      .container {
        .focus-frame {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 40px;
        }

        .FAQ-frame {
          width: 850px;
          margin: 191px auto 400px auto;
        }
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .what-we-look-for {
    .wwlf-content {
      .container {
        .FAQ-frame {
          margin: 191px auto 650px auto;
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .what-we-look-for {
    .bg-image {
      width: auto;
      height: 450px;
    }

    .wwlf-banner {
      padding-top: 132px;
      padding-bottom: 60px;

      .container {

        p {
          margin-top: 30px;
          margin-bottom: 51px;
          font-size: 18px;
          line-height: 22px;

          max-width: 610px;
        }
      }
    }
    .wwlf-content {
      margin-top: 100px;

      .container {
        h3 {
          display: flex;
          justify-content: center;
        }
        .focus-frame {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 40px;
        }

        .FAQ-frame {
          width: 98%;
          margin: 50px auto 650px auto;

          h4 {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .what-we-look-for {
    .bg-image {
      width: auto;
      height: 320px;
    }
    .wwlf-banner {
      padding-top: 60px;
      padding-bottom: 30px;
      .container {
        p {
          margin-top: 20px;
          margin-bottom: 30px;
          font-size: 12px;
          line-height: 14px;

          max-width: 610px;
        }
      }
    }
    .wwlf-content {
      margin-top: 50px;

      .container {
        .focus-frame {
          margin-top: 20px;
        }
        .FAQ-frame {
          width: 100%;
          margin: 191px auto 850px auto;
          .FAQ-items {
            display: flex;
            flex-direction: column;
            gap: 4px;
            margin-top: 30px;
          }
        }
      }
    }
  }
}