form {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 1px;

  &:invalid input {
    border: 1px solid rgba(226, 51, 51, 0.5);
  }
  label {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: start;
    color: #FFFFFF;
    gap: 9px;

    article {
      font-weight: 600;
      font-size: 25px;
      line-height: 30px;
      color: #333333;
      margin-bottom: 20px;
    }
    .input-email {
      position: relative;
      width: 100%;

      input {
        background: #FAFAFA;
        border: 1px solid #E1E1E1;
        width: 100%;
        transition: var(--transition);
        &::placeholder {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: rgba(0, 0, 0, 0.6);
        }
        &:hover {
          background: rgba(255, 255, 255, 0.5);
          border: 1px solid rgba(0, 151, 90, 0.2);
          box-shadow: 0px 0px 4px 2px rgba(125, 125, 125, 0.15);
        }
        &:active, &:focus {
          background: rgba(255, 255, 255, 0.8);
          border: 1px solid rgba(0, 151, 90, 0.5);
          box-shadow: 0 0 8px rgba(149, 149, 149, 0.1);
        }
        &:invalid {
          border: 1px solid rgba(226, 51, 51, 0.5);
        }
      }
    }
  }

  .footer-submit {
    position: relative;
    padding: 0 32px;
    height: 58px!important;
  }
}

@media screen and (max-width: 1000px) {
  form {
    label {
      article {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
      }
    }
    .footer-submit {
      height: 37px!important;
    }
  }
}
@media screen and (max-width: 700px) {
  form {
    .footer-submit {
      height: 25px!important;
    }
  }
}