footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
  background: #00463D;

  .container {
    display: flex;
    padding-top: 40px;
    padding-bottom: 45px;

    .footer-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .left-column {
      width: 350px;

      .socials {
        display: flex;
        align-items: center;
        gap: 37px;
        transition: all ease .1s;

        a * {
          transition: all ease .5s;
        }

        a:hover, a:hover * {
          scale: 1.05;
        }
      }


    }
    .mid-column {
      width: 800px;

      .menu {
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 0 9px;

        .menu-item {
          font-size: 14px;
          line-height: 17px;
        }
      }
      .newsletter {

        label {
          article {
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: #FFFFFF;
            margin: 0;
          }
        }
      }
    }
    .right-column {
      width: 500px;
      gap: 26px;

      a {
        display: flex;
        gap: 16px;

        img {
          width: auto;
          max-height: 26px;
        }
      }
    }
  }

  .footer-info {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 11px 0;

    background: rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 1300px) {
    footer {
      .container {
        flex-direction: column;
        gap: 50px;
        padding-top: 40px;

        .left-column {
          flex-direction: row;
          width: 100%;
        }
        .mid-column {
          width: 100%;
          .menu {
            gap: 40px;
            padding: 30px 9px;
          }
        }
        .right-column {
          width: 500px;
          gap: 20px;
        }
      }

      .footer-info {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        padding: 11px 0;

        background: rgba(0, 0, 0, 0.2);
      }
    }
}

@media screen and (max-width: 600px) {
  footer {
    .container {
      .left-column {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
      }
      .mid-column {
        width: 100%;

        .menu {
          flex-direction: column;
          align-items: center;
          gap: 25px;
          padding: 10px 9px;
        }
        .newsletter {
          margin: 20px auto;

          label {
            margin: 0;

            article {
              text-align: end;
            }

            article {
              font-weight: 400;
              font-size: 15px;
              line-height: 18px;
              color: #FFFFFF;
              margin: 0;
            }
          }
        }
      }
      .right-column {
        width: 100%;
        gap: 20px;

        a {
          display: flex;
          gap: 16px;

          p {
            font-size: 12px;
          }

          img {
            width: auto;
            max-height: 26px;
          }
        }
      }
    }

    .footer-info {
      font-size: 12px;
      line-height: 16px;
    }
  }
}