.modal-box {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: space-between;
  width: 952px;
  height: 855px;
  background-color: #fff;
  padding: 48px 122px 79px 122px;
  z-index: 11;

  &.active {
    display: flex;
  }

  .step-1 {
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;

      color: #393939;
    }
  }

  .modal-progress-box {
    .progress-bar {
      width: 100%;
      height: 6px;
      background: #E1E1E1;

      .progress-bar-percent {
        height: 6px;
        background: #00975A;
        transition: var(--transition);
      }
    }
    .buttons-next-back {
      display: flex;
      gap: 24px;
      margin-top: 15px;

      .btn-type-primary, .btn-type-secondary {
        width: 202px;
        height: 60px;
      }
    }
  }
}

.bg-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(51, 49, 49, 0.5);
  z-index: 10;
}